<div class="comment">
  <h4 class="comment__header">
    <%= image_tag comment.user.image_url, class: 'comment__icon', size: '32x32' %>
    <%= link_to comment.user.screen_name, comment.user %>
  </h4>

  <div class="comment__content">
    <%= comment.text %>
  </div>
</div>
