li.article-item-box
  .article-icon
    = image_tag article.user.image_url, class: 'img-circle', size: '64x64'
  .info
    .info-head
      .created
        = render partial: 'articles/author_info', locals: { article: article }
        - if article.status.publish?
          = fa_icon 'rocket'
        - unless article.unlock?
          = fa_icon 'lock'
    .info-title
      h2.title
        - if article.status.wip?
          == link_to "[WIP] #{article.title}", article, class: 'wip'
        - else
          = link_to article.title, article
      = link_tags_list_for(article.tags)
      .star
        - article.stars.includes(:user).group(:user_id).each do |star|
          = render partial: 'stars/article_star', locals: { star: star }
