<div class="row">
  <div class="col-lg-6">
    <%= render 'form' %>
  </div>
  <div class="col-lg-6">
    <p id="categories-preview"></p>

    <h2 id="title-preview"></h2>
    <hr>
    <div id="text-preview-area" class="markdown-body"></div>
  </div>
</div>
