<div class="row">
  <div class="col-lg-6">
    <%= render 'form' %>
  </div>
  <div class="col-lg-6">
    <ul id="tags-preview" class="tag_list"></ul>
    <h2 id="title-preview"></h2>
    <hr>
    <div id="text-preview-area" class="markdown-body"></div>
  </div>
</div>
