<h1 class="page-title">
  記事一覧
  <% if params[:tag] %>
      <%= fa_icon 'tag' %><%= params[:tag] %>
  <% end %>
</h1>

<ul class="articles">
  <%= render @articles %>
</ul>

<%= paginate @articles %>
