= simple_form_for(@article) do |f|
  .field
    = f.input :template_name, label: 'テンプレート名', input_html: { class: 'form-control' }
  .field
    = f.input :title, label: 'タイトル', input_html: { class: 'form-control', placeholder: 'タイトル' }
  .field
    = f.input :tag_list, input_html: { value: @article.tag_list.join(','), class: 'form-control', placeholder: ',区切りでタグを入力' }
  .field
    = f.input :text, class: 'form-control'
  .field
    = f.input :type, as: :hidden, input_html: { value: 'Template' }
  hr
  .row
    .col-sm-4
      a#upload-btn.btn.btn-default
        = fa_icon 'file-image-o'
    .col-sm-4
      = f.input :status, label: false
    .col-sm-4
      = f.button :submit, id: 'btn-submit', class: 'form-control'
input#async-image-data.hide[type="file" name="article[image]"]

coffee:
  # タイトルプレビュー反映
  update_title_preview = ->
    $("#title-preview").html(marked($("#template_title").val()))

  # 本文プレビュー反映
  update_text_preview = ->
    marked_text = marked($("#template_text").val())
    $("#text-preview-area").html(marked_text)

  update_tags_preview = ->
    $('#tags-preview').empty()
    $.each $('#template_tag_list').val().split(','), (i, v) ->
      $('#tags-preview').append($('<li/>').append($('<span/>').text(v)))

  # 全プレビュー反映
  update_preview = ->
    update_title_preview()
    update_text_preview()
    update_tags_preview()

  # unsanitize_markup = (text) ->
  #   text.replace(/&lt;sup&gt;/g, "<sup>")
  #       .replace(/&lt;\/sup&gt;/g, "</sup>")
  #       .replace(/&lt;sub&gt;/g, "<sub>")
  #       .replace(/&lt;\/sub&gt;/g, "</sub>")

  $ ->
    # ページ読み込み時にプレビュー反映
    update_preview()

    # 変更イベント
    $("#template_title").keyup update_title_preview
    $("#template_text").keyup update_text_preview
    $("#template_tag_list").keyup update_tags_preview

