<li class="article panel panel-default">
  <div class="panel-body">
    <div class="tumbnail">
      <%= image_tag user.image_url %>
    </div>
    <div class="infos">
      <h2 class="title">
        <%= link_to user.screen_name, user %>
        <%=  %>
      </h2>
      <p class="name">
        <%= user.name %>
      </p>
    </div>
  </div>

</li>
