<%
 menu_item_params = [
   {
     href: '/article/new',
     icon_name: 'pencil',
     name: 'WRITE'
   }, {
     href: '/',
     icon_name: 'home',
     name: 'TOP'
   }, {
     href: '/articles',
     icon_name: 'th-list',
     name: 'ARTICLES'
   }, {
     href: '/users',
     icon_name: 'users',
     name: 'MEMBERS'
   }
 ]
   'test hoge'
%>
<div id="side-bar">
  <nav>
    <ul>
      <% menu_item_params.each do |params| %>
        <%= render 'shared/sidemenu_item', params %>
      <% end %>
    </ul>
  </nav>
</div>