#edit_tag {
}

.tag_list_block {
  .add_tag_form {
    display: inline;
  }
  #add_tag_text {
    color: black;
    border: none;
    line-height: 1em;
    font-size: 0.9em;
    padding-left: 5px;
  }
  a.delete-tag {
    padding: 0px 5px;
    background: gray;
    margin: 0px 1px 0 4px;
    color: white !important;
  }
  #add_tag_btn {
    background: #D0D0D0;
    color: black;
    padding: 0px 9px 2px;
    font-weight: bold;
    &:hover {
      background: #777777;
    }
  }
}

.tag_list {
  display: inline-flex;
  padding: 0;
  margin: 0;
  li {
    margin-right: .7em;
    line-height: 1.2em;
    $bg_color: #ddd;
    background-color: $bg_color;
    padding: 0 5px;

    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    display: inline-block;
    position: relative;
    font-size: 85%;
    margin-left: .7em;
    color: #555 !important;

    &:before {
      width: 0;
      height: 0;
      right: 100%;
      content: '';
      position: absolute;
      pointer-events: none;
      border: solid transparent;
      border-color: transparent;
      border-right-color: $bg_color;
      border-width: .6em;
      top: 50%;
      margin-top: -.6em;
    }

    &:hover {
      background-color: $bg_color - #333;
      &:before {
        border-right-color: $bg_color - #333;
      }
    }

    span {
    }

    a {
      color: black;
      text-decoration: none;
    }
  }
}
