body {
  margin-left: 0;
}

#side-bar {
  @extend .hidden-xs;
}

#navbar {
  .navbar-header {
    button {
      font-size: 14px;
      line-height: 14px;
      width: 50px;
    }
  }
  .menus {
    margin: 0;
    padding: 0;
    float: left;
    li {
      float: left;
      font-size: 20px;
      line-height: 20px;
      margin-left: .5em;
      padding: 15px;
      a {
        display: block;
      }
    }
  }
  .navbar-collapse {
    width: 90%;
    margin: 5%;
  }
  .navbar-left {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0px;
  }
  form#article_search {
    display: flex;

    input#t_title_cont {
      width: 80%;
    }
    input.btn {
      width: 20%;
    }
  }
}
