.history {
  margin: 10px 5px;
  padding: 2px;

  hr {
    margin: 0;
  }
}

.simple-history {
  display: flex;
  img {
    height: 1.3em;
    width: 1.3em;
  }
  a>* {
    float: left;
    margin-right: 5px;
  }
}

.article-subinfos.article-history {
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
