/* TODO: split from parts */

li {
  list-style-type: none;
}
.markdown-body li {
  list-style-type: disc;
}

h2 {
  margin: 0;
}

img {
  display: block;
}

body {
  > .container-fluid {
    padding: 0 40px;
  }
  background: #FFF7E9;
}

a {
  color: #330000;
  text-decoration: underline;
  &:hover {
    color: #845f4b;
  }
}

.page-title {
  font-size: 20px;
}

.user-item-box {
  display: flex;
  padding: 5px 0;
  border-bottom: solid 1px #ddd;
  .user-icon {
    img {
      width: 60px;
      height: 60px;
    }
  }
  .info {
    padding-left: 10px;
    width: 100%;
    overflow: hidden;
    display: table;

    &-title {
      h2 {
        display: inline;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        margin: 2px 0;
        i {
          font-size: .7em;
          color: gray;
        }
      }
    }
    &-footer {
      font-size: 14px;
      .tags {
        float: left;
      }
      .created {
        float: right;
        color: gainsboro;
        overflow: hidden;
        .author {
          float: left;
        }
        .date {
          float: left;
          margin-left: 1em;
        }
      }
    }
  }
}

.user-header {
  .tumbnail {
    float: left;
    img {
      width: 6em;
      border-radius: 50%;
    }
  }
  .infos {
    padding-left: 10px;
    overflow: hidden;
    h2 {
      font-size: 50px;
    }
    .someinfo {
      margin: .5em;
    }
    .info-footer {
      overflow: hidden;
      .record {
        color: gainsboro;
        overflow: hidden;
        .author {
          float: left;
        }
        .date {
          float: left;
          margin-left: 1em;
        }
      }
    }
  }
}

#text-preview-area {
  height: 50em;
  overflow-y: scroll;
}

.emoji {
  margin-bottom: 0em;
}

.emoji-suggest {
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  margin-bottom: 0em;
}

#title-preview {
  margin: 0;
}

.edit_article, .new_article {
  .field {
    margin-bottom: 10px;
  }
}

.img-wrap {
  margin: 20px;
}
