/* TODO: split from parts */

$sidebar_width: 80px;

#side-bar {
  background: gray none repeat scroll 0 0;
  color: rgba(255, 255, 255, 0.9);
  height: 100%;
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: $sidebar_width;
  z-index: 4;
  padding-top: 20px;

  ul {
    padding: 0;
  }
  li {
    list-style-type: none;

    a {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.3);
      display: block;
      font-size: 28px;
      height: 68px;
      text-align: center;
      width: 80px;

      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      box-shadow: none;
      margin: 0;
      padding: 0;
      line-height: .5;

      i {
        color: rgba(0, 0, 0, 0.1);
        display: block;
        font-size: 28px;
        text-align: center;
        transition-duration: 0.3s;
        width: 80px;
      }
      span {
        color: rgba(0, 0, 0, 0.3);
        font-size: 11px;
        text-align: center;
      }

      &:hover {
        text-decoration: none;
        i, span {
          color: white;
        }
      }
    }
  }
}

body {
  margin-left: $sidebar_width;
  > .container-fluid {
    padding: 0 40px;
  }
}

ul.articles, ul.users {
  li {
    list-style-type: none;
  }
}

.article {
  .tumbnail {
    float: left;
    img {
      width: 5em;
      border-radius: 50%;
    }
  }
  .infos {
    padding-left: 10px;
    overflow: hidden;
    h2 {
      margin: 0;
      i {
        font-size: .7em;
        color: gray;
      }
    }
    .categories {
      height: 1em;
      margin: .5em;
    }
    .info-footer {
      overflow: hidden;
      .record {
        color: gainsboro;
        overflow: hidden;
        .author {
          float: left;
        }
        .date {
          float: left;
          margin-left: 1em;
        }
      }
    }
  }
}

.article-header {
  overflow: hidden;
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: solid;
  .article-titles {
    float: left;
  }
  .article-subinfos {
    float: right;
  }
}

.user-header {
  .tumbnail {
    float: left;
    img {
      width: 6em;
      border-radius: 50%;
    }
  }
  .infos {
    padding-left: 10px;
    overflow: hidden;
    h2 {
      margin-top: 0;
      font-size: 50px;
    }
    .categories {
      height: 1em;
      margin: .5em;
    }
    .info-footer {
      overflow: hidden;
      .record {
        color: gainsboro;
        overflow: hidden;
        .author {
          float: left;
        }
        .date {
          float: left;
          margin-left: 1em;
        }
      }
    }
  }
}

#text-preview-area {
  height: 50em;
  overflow-y: scroll;
}

.emoji {
  margin-bottom: 0em;
}

.emoji-suggest {
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  margin-bottom: 0em;
}

#categories-preview {
  margin-bottom: .5em;
  font-size: 1.4em;
  color: darkgrey;
}
#title-preview {
  margin: 0;
}
