.star {
  a {
    display: inline-flex;
    margin: 2px;
    text-decoration: none !important;
    color: gold;

    &hover {
      text-decoration: none !important;
      color: gold !important;
    }
  }

  &__button {
    color: white;
    background: orange;
    border-radius: 5px;
    margin: 5px;
    height: 28px;
    padding: 6px 1em;
    i {
      font-size: 1.3em;
      color: white;
    }

    &:hover {
      text-decoration: none !important;
      background: #E09600;
    }
  }

  &__box {
    position: relative;
    color: gold;

    &__star {
      position: absolute;
      bottom: 0px;
      left: -28px;
      margin-bottom: 0px;
      margin-left: 0px;
      z-index: 11;
    }
  }
}

#star__list {
  display: block;
}
