doctype html
html
  head
    title
      = full_title(yield(:title))
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    = csrf_meta_tags
  body
    = render 'shared/sidemenu'
    = render 'shared/navbar'
    .container-fluid
      .col-md-4
        - flash.each do |type, message|
          |  <div class="alert 
          = alert_class_for(type)
          |  alert-dismissible fade in"> 
          button.close[type="button" data-dismiss="alert"]
            span[aria-hidden="true"]
              | ×
            span.sr-only
              | Close
          = message
    .container-fluid
      = yield
    - if Rails.env == 'development'
      = params
